
body {
    background-image: url("login.jpg");
    background-size: 100%;
    background-repeat: no-repeat;

    background-color: rgba(230, 245, 225, 0.5);
}
 
#login_frame {
    width: 400px;
    height: 460px;
    padding: 13px;
 
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -200px;
 
    background-color: rgba(230, 235, 235, 0.5);
 
    border-radius: 10px;
    text-align: center;
}
 
form p > * {
    display: inline-block;
    vertical-align: middle;
}
 
#image_logo {
    margin-top: 24px;
}
 
.label_input {
    font-size: 15px;
    font-family: Times;
 
    width: 67px;
    height: 28px;
    line-height: 28px;
    text-align: center;
 
    color: white;
    background-color: #BDB76B;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
 
.text_field {
    width: 278px;
    height: 28px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0;
}
 
#btn_login {
    font-size: 14px;
    font-family: Times;
 
    width: 120px;
    height: 28px;
    line-height: 28px;
    text-align: center;
 
    color: white;
    background-color: #BDB76B;
    border-radius: 6px;
    border: 0;
 
    float: center;
}
 
 
#login_control {
    padding: 0 28px;
}
